#c1 {
    background-color: #000000;
    border: 2px solid #FFFF00;
    display: block;
    margin: 0 auto;
    padding: 3px;
    text-align: center;
}
#t1c, #t1 {
    color: #FFFF00;
    font-family: 'Courier New',Courier,monospace;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
}
.t100 {
    height: 100%;
    width: 100%;
}
.tab {
    margin: 0 auto;
}
body {
    background-color: #000000;
    border: medium none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}