

<head>
<link href="../static/css/main.css" type="text/css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>

<p title="truth for humanity">TruthForHumanity.com</p> 

</head>
<a href="https://github.com/ohnorobo/truth-for-humanity"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

<div class="container">
	<p>
	<h1>WELCOME YOU!!!</h1>
	<h2>ALL OF HUMANITY TRUTH IS HERE</h2>
	<h3>WHAT DO YOU SEEK TRUTH OF!</h3>
	</p>

	<form onsubmit="location.href=document.URL + document.getElementById('myInput').value; return false;">
	  <input type="text" id="myInput" value="The Illuminati" style="height:50px"/>
	  <input type="submit" value="Search" />
	</form>
</div>


<script>
var randomFormFill=['The Illuminati', 'Starbucks','The Moon', 'Baratunde Thurston' ,'Elmo' ,'Styrofoam','Google Glass'];
var rand=Math.floor(Math.random() * randomFormFill.length);
$('#myInput').attr('value',randomFormFill[rand]);
</script>
